[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:README.rst]

[bumpversion:file:docs/conf.py]

[bumpversion:file:src/zsl_jwt/__init__.py]
