.debug_view {
    border: 1px dotted;
    background-color: #f0f6fc;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
}
textarea {
    width: 100%; /* Full width of the textarea */
    height: 100px; /* Fixed height for better control */
    padding: 10px; /* Padding inside the textarea */
    border: 1px solid #ced4da; /* Bootstrap-like styling for the border */
    border-radius: 0.25rem; /* Rounded borders for the textarea */
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075); /* Slight inner shadow for depth */
}
label {
    font-weight: bold; /* Make label text bold */
}
.form-select {
    display: block;
    width: 100%; /* Full width */
    padding: 0.375rem 2.25rem 0.375rem 0.75rem; /* Bootstrap padding */
    font-size: 1rem; /* Bootstrap font size */
    font-weight: 400; /* Font weight like regular text */
    line-height: 1.5; /* Line height like normal text */
    color: #495057; /* Text color */
    background-color: #fff; /* White background */
    border: 1px solid #ced4da; /* Border similar to textarea */
    border-radius: 0.25rem; /* Rounded borders */
}
